<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test thread-count="1" name="rbga_request_creation"> <classes> <class 
		name="com.workon.testcases.generic.TestCase_RBGARequestCreation" /> </classes> 
		</test>

	<test thread-count="1" name="apmaze_request_creation">
		<classes>

			<class
				name="com.workon.testcases.generic.TestCase_APMAZERequestCreation" />
		</classes>
	</test>

	<!-- <test thread-count="1" name="Feedback_form_crosssign">
		<classes>
			<class
				name="com.workon.testcases.functional.pbi.TestCase_PBI_20258_Feedback" />
		</classes>
	</test> -->



<!-- 
	This thing will only work in Q because of div selection and divs class in different in P and Q and D -->
	<test thread-count="1" name="rbubkpa_request_creation">
		<classes>
			<class
				name="com.workon.testcases.generic.TestCase_RBUBKPARequestCreation" />
		</classes>
	</test>






	<!-- <test thread-count="5" name="apmaze"> <classes> <class name="com.workon.rough.DashboardTestCentralSearch" 
		/> <class name="com.workon.testcases.generic.TestCase_RBGARequestCreation" 
		/> <class name="com.workon.testcases.centralsearch.TestCase_CentralSearch" 
		/> <class name="com.workon.rough.TestUserLogin" /> <class name="com.workon.testcases.functional.bug.TestCase_Bug16794" 
		/> <class name="com.workon.testcases.generic.TestCase_APMAZERequestCreation" 
		/> <class name="com.workon.rough.SearchRBGA" /> <class name="com.workon.testcases.generic.TestCase_APMAZERequestCreation" 
		/> </classes> </test> -->


	<!-- <test thread-count="5" name="login_issue_tests"> <classes> <class name="com.workon.testcases.functional.bug.TestCase_Bug16794"/> 
		</classes> </test> -->








</suite> <!-- Suite -->
